.recipe {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
  }
  .recipe h2 {
    color: #211301;
  }
  .recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 30px;
  }
  .recipe li {
    list-style-type: none;
    margin-right: 10px;
    color: #5503d2;
  }
  .recipe li::after {
    content: ",";
  }
  .recipe li:last-child::after {
    content: ".";
  }
  .method {
    text-align: left;
    line-height: 1.5em;
    margin-top: 50px;
  }

  .recipe.dark {
    background: #555;
    color: #e4e4e4;
  }

  .recipe.dark h2,
  .recipe.dark li {
    color: #e4e4e4;
  }